{% extends '@PulpyTheme/base.html.twig' %}

{% block body %}

{% for post in posts %}
{% set posturl = posturl(post.slug)|toabsoluteurl %}
<article class="published">
    <div class="row">
        <div class="one-quarter meta">
            <div class="thumbnail">
                <a href="{{ posturl }}">
                {% if post.image %}
                    <img src="{{ post.image|topostresourceurl(post) }}" alt="{{ post.title }}" />
                {% else %}
                    <img src="{{ site.images.logo|toresourceurl() }}" alt="{{ post.title }}" />
                {% endif %}
                </a>
            </div>

            <ul>
                <li>Written by {{ post.author }}</li>
                {% if post.twitter|length %}
                <li>Twitter: <a href="https://twitter.com/{{ post.twitter }}">{{ post.twitter }}</a></li>
                {% endif %}
                {% if post.about|length %}
                    <li>About
                    {% if post.about|length == 1 %}
                        {{ post.about|first }}
                    {% else %}
                        {{ post.about|slice(0, -1)|join(', ') }} and {{ post.about|slice(-1)|join('') }}
                    {% endif %}
                    </li>
                {% endif %}
                <li>{{ post.date|humandate }}</li>
                <li></li>
            </ul>
        </div>

        <div class="three-quarters post">
            <h1 class="post-title"><a href="{{ posturl }}">{{ post.title }}</a></h1>

            <a href="{{ posturl }}">
            {{ post.intro|inlinemarkdown }} &mdash; {{ post.content|markdown|striptags|truncate(260, true, '') }} &hellip;
            </a>

            <ul class="actions">
                <li><a class="button" href="{{ posturl }}">Continue Reading</a></li>
            </ul>

        </div>
    </div>
</article>
{% endfor %}

{% include "@PulpyTheme/Components/Pagination/index.html.twig" with { page: page, nbpages: nbpages } %}

{% endblock %}